{% extends "layout.twig" %}

{% block body %}

<div id="intro" class="cover">
    <img class="img-responsive" src="{{ base_url() }}/asset/images/cover.jpg" alt="Chinbun welcome">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 text-center">
                    <div class="chinbun-welcome">
                        <h2 class="wow fadeInRight text-chinbun">Chinbunn Omniscience</h2>
                        <p class="text-welcome-our wow fadeInLeft">welcome to our site</p>
                         <p class="text-welcome">Research & Solution Services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content" id="howtowork">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-head text-center">
                <h1 class="text-en">HOW TO WORK</h1>
                <p>แนวทางในการทำงานของเรา</p>
                <div class="head-icon"><i class="fa fa-book"></i></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 how-to">
                <div class="col-md-6 col-sm-6 col-xs-12 how-to-inner">
                    <div class="med-icon"><i class="fa fa-files-o" aria-hidden="true"></i></div>
                    <div class="how-to-text">
                        <p>ไม่นำตัวอย่างงานวิจัย หรือตัวอย่างรายงาวิจัยที่เคยทำแล้วกลับมาใช้ใหม่จะไม่มีการ Copy งานจากคนอื่น ถ้างานมีปัญหาเรื่อง Copy / Plagiarism ทางเราจะยินดีคืนเงิน 100% เต็ม</p>
                    </div>
                </div>
                <!-- /End -->
                <div class="col-md-6 col-sm-6 col-xs-12 how-to-inner">
                    <div class="med-icon"><i class="fa fa-user-times" aria-hidden="true"></i></div>
                    <div class="how-to-text">
                        <p>ไม่มีการเปิดเผยข้อมูลลูกค้าให้แก่บุคคลที่สาม ไม่ว่าในกรณีใด เว้นแต่ได้รับความยินยอมจากลูกค้าเท่านั้น</p>
                    </div>
                </div>
                <!-- /End -->
                <div class="col-md-6 col-sm-6 col-xs-12 how-to-inner">
                    <div class="med-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="how-to-text">
                        <p>การทำวิจัยของเรามีการวางแผนการทำงานอย่างมีระบบ ไม่เน้นปริมาณ เน้นให้งานออกมามีคุณภาพมากที่สุด ตรงตามเวลาที่กำหนด</p>
                    </div>
                </div>
                <!-- /End -->
                <div class="col-md-6 col-sm-6 col-xs-12 how-to-inner">
                    <div class="med-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                    <div class="how-to-text">
                        <p>ท่านจะได้รับบริการที่มีคุณภาพมากที่สุด และสามารถตอบข้อสงสัยการทำวิจัยให้กับท่านได้อย่างชัดเจนมีเหตุมีผล และมีข้อมูลสนับสนุน</p>
                    </div>
                </div>
                 <!-- /End -->
                 <div class="col-md-12 col-sm-12 col-xs-12 main-text text-center">
                     <h2>โดยข้อมูลของท่านจะถูกเก็บเป็นความลับ และจะไม่มีการนำไปใช้ต่อในทุกกรณี</h2>
                     <p>จึงมั่นใจได้ว่างานทุกชิ้นจึงมีคุณภาพ รับประกันคุณภาพแก้ไข "ฟรี" ไม่มีค่าใช้จ่าย <br> เพราะเรามีประสบการณ์ตรงจากการทำงานจริง เข้าใจงาน ราคาย่อมเยาว์ และยินดีรับงานทั่วประเทศ</p>
                 </div>
            </div>
            <div id="service" class="col-md-12 col-sm-12 col-xs-12 text-head text-center">
                <h1 class="text-en">SERVICES</h1>
                <p>บริการของเรา</p>
                <div class="head-icon"><i class="fa fa-book"></i></div>
            </div>
        </div>
    </div>
</section>
<a href="geo:13.802154,100.553017?q=13.802154,100.553017">Google MAP</a>

<section class="service service-gr">
	<div class="imageblock_content col-md-6 col-sm-4 pos-right">
		<div class="content-bg" style="background: url(../asset/images/service01.jpg); opacity: 1;">
			<img width="1600" height="1067" src="{{ base_url() }}/asset/images/service01.jpg" class="attachment-full size-full" alt="">
		</div>
    </div>
	<div class="container">
	    <div class="row">
		    <div class="col-md-6 col-sm-7">
			    <div class="service_text">
		            <div class="service_text_inner">
			            <h3>รับทำวิจัย รับวิจัยตลาด รับทำงานวิจัย บริการงานวิจัยธุรกิจ รับเป็นที่ปรึกษางานวิจัย และยินดีให้คำปรึกษางานวิจัยฟรี <br>(ไม่เสียค่าใช้จ่าย)</h3>
                        <ul>
                            <li>บริการให้คำปรึกษาการออกแบบงานวิจัย (Research Design)</li>
                            <li>บริการให้คำปรึกษาการทำวิจัยตลาด (Marketing Research)</li>
                            <li>บริการให้คำปรึกษาการทำวิจัยทุกขั้นตอนอย่างละเอียด</li>
                            <li>ให้คำแนะนำในการปรับแก้ข้อมูลในการวิจัยและสถิติให้มีความถูกต้องตามหลักงานวิจัย</li>
                        </ul>
		            </div>
	            </div>
            </div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>

<section class="service service-wh">
    <div class="imageblock_content col-md-6 col-sm-4 pos-left">
		<div class="content-bg" style="background: url(../asset/images/service02.jpg); opacity: 1;">
			<img width="1600" height="1067" src="{{ base_url() }}/asset/images/service02.jpg" class="attachment-full size-full" alt="">
		</div>
    </div>
	<div class="container">
	    <div class="row">
		    <div class="col-md-6 col-sm-7">
			    <div class="service_text">
		            <div class="service_text_inner">
			            <h3>รับวิเคราะห์ข้อมูลและประมวลผลข้อมูลด้วยโปรแกรมคอมพิวเตอร์วิเคราะห์สถิติพื้นฐาน และสถิติขั้นสูง ตลอดจนบริการวิเคราะห์ค่าสถิติต่างๆ เช่น</h3>
                        <ul>
                            <li>การวิเคราะห์ข้อมูลเบื้องต้นทั้งสถิติพื้นฐาน ได้แก่ ค่าเฉลี่ย (mean ) ค่าเบี่ยงเบนมาตรฐาน (S.D.) ค่าเฉลี่ยสูงสุด-ต่ำสุด (Min-Max Variable) และการทดสอบสมมติฐานด้วยวิธีการทางสถิติต่าง ๆ</li>
                            <li>การวิเคราะห์การถดถอย (Linear Regression Analysis)</li>
                            <li>การวิเคราะห์ความเที่ยงตรงของข้อมูล (Reliability Analysis)ใช้สูตรค่าสัมประสิทธิ์แอลฟา (Alpha Coefficient) ของครอนบาค (Cronbach) และค่าดัชนีวัดความสอดคล้อง IOC</li>
                            <li>การวิเคราะห์สัมประสิทธิสหสัมพันธ์ (Pearson’s product moment correlation, Chi-square)</li>
                        </ul>
		            </div>
	            </div>
            </div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>

<section class="service service-gr">
	<div class="imageblock_content col-md-6 col-sm-4 pos-right">
		<div class="content-bg" style="background: url(../asset/images/service03.jpg); opacity: 1;">
			<img width="1600" height="1067" src="{{ base_url() }}/asset/images/service03.jpg" class="attachment-full size-full" alt="">
		</div>
    </div>
	<div class="container">
	    <div class="row">
		    <div class="col-md-6 col-sm-7">
			    <div class="service_text">
		            <div class="service_text_inner">
                        <h3>งานอื่นๆ ที่ทาง Chinbunn รับทำ</h3>
                        <ul>
                            <li>รับสร้างแบบสอบถามจากแนวคิด ทฤษฏี และงานวิจัยที่เกี่ยวข้องของท่าน</li>
                            <li>รับเขียนบทคัดย่อและบทความวิชาการ</li>
                            <li>รับแปล-เขียนงาน ไทย-อังกฤษ และ อังกฤษ-ไทย</li>
                            <li>รับงานสร้าง Chart หรือกราฟรูปแบบต่างๆ</li>
                            <li>รับคีย์ข้อมูลแบบสอบถาม</li>
                        </ul>
		            </div>
	            </div>
            </div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>

<section id="contact" class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-head text-center">
                <h1 class="text-en">GET IN TOUCH</h1>
                <p>ติดต่อโดยตรงกับพวกเราได้เลย</p>
                <div class="head-icon"><i class="fa fa-book"></i></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 address">
                <ul class="contact-details">
                    <li class="col-sm-4 col-xs-12"> <i class="fa fa-map-marker" aria-hidden="true"></i> 30/553, ถนนงามวงศ์วาน<br> ตำบลบางเขน, อำเภอเมือง<br>จังหวัดนนทบุรี, 11000 </li>
                    <li class="col-sm-4 col-xs-12"> <a href="mailto:jibunnag@hotmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> jibunnag@gmail.com</a> </li>
                    <li class="col-sm-4 col-xs-12"> <i class="fa fa-phone" aria-hidden="true"></i> 086-541-1797 (คุณจิ) </li>
                </ul>
                <ul class="contact-social text-center">
                    <li class="col-sm-6 col-xs-12 social-fb text-right"><a href="https://www.facebook.com/chinbunn/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="padding-right: 50px;"></i>chinbunn.omnisience</a></li>
                    <li class="col-sm-6 col-xs-12 social-line text-left"><img src="{{ base_url() }}/asset/images/line.jpg">@chinbunn</li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-contact">
                <form id="form">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Your Message *" name="message" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center contact-btn">
                <button type="submit" id="sent" class="btn btn-lg btn-primary">Send Message &nbsp;<i class="fa fa-paper-plane-o"></i></button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
	new WOW().init();
</script>
<script>
$('#phone').keypress(function (e) {
    var txt = String.fromCharCode(e.which);
    var value = e.target.value + txt;
    if (value.length > 10) {
    		return false;
    }
    if (!txt.match(/[0-9]/)) {
        return false;
    }
});
</script>
<script>
function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}
function validate() {
  $("#result").text("");
  var email = $("#email").val();
  if (validateEmail(email)) {
  var urlStr = "{{base_url()}}/send.php";
  var data = $( "#form" ).serialize();
  $.ajax({
   url : urlStr,
   type: "POST",
   data : data,
   success: function(data, textStatus, jqXHR)
   {
    console.log(data)
       if(data == '"success"'){
        swal({
            type: 'success',
            html: 'Message has been sent !!'
        }); 
       }else{
        swal({
            type: 'error',
            html: 'Please fill in the blank !!'
        });  
       }           
   },
   error: function (jqXHR, textStatus, errorThrown)
   {   
       swal({
            type: 'error',
            html: 'This function is wrong !!<br>Please contact administrator in jibunnag@gmail.com'
        });           
   }
   });
  } else {
    swal({
    type: 'error',
    html: 'Please check your email format !!'
    });  
  }
  return false;
}
$("#sent").bind("click", validate);
</script>
<script src="{{base_url()}}/asset/js/phone.js"></script>
{% endblock %}